
.logo-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.logo-container h2 {
    margin: 0;
}

.login-info-container {
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.profile-avatar-button:hover {
    scale: 1.15;
}
